<div id="<%= dom_id classroom %>">
  <h3><%= @context %></h3>
  <p>
    <strong>Turma:</strong>
    <%= classroom.name %>
  </p>

  <p>
    <strong>Data de início:</strong>
    <%= classroom.start_date.strftime('%d/%m/%Y') %>
  </p>

  <p>
    <strong>Data de fim:</strong>
    <%= classroom.end_date.strftime('%d/%m/%Y') %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= classroom.status ? "Ativa" : "Inativa" %>
  </p>

  <p>
    <strong>Curso:</strong>
    <%= classroom.course.name %>
  </p>

</div>
