<div id="<%= dom_id classroom %>">
  <p>
    <strong>Start date:</strong>
    <%= classroom.start_date.strftime('%d/%m/%Y') %>
  </p>

  <p>
    <strong>End date:</strong>
    <%= classroom.end_date.strftime('%d/%m/%Y') %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= classroom.status ? "Ativa" : "Inativa" %>
  </p>

  <p>
    <strong>Curso:</strong>
    <%= classroom.course.name %>
  </p>

</div>
