<div id="<%= dom_id student %>">
  <p>
    <strong>Name:</strong>
    <%= student.name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= student.email %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= student.status ? "Ativo" : "Evadido" %>
  </p>

  <% if student.reports.exists? %>
    <% student.reports.each do |report| %>
      <p>
        <strong>Horas reportadas:</strong>
        <%= report.reported_effort ? report.reported_effort : "0" %>
      </p>
    <% end %>
  <% else %>
    <p>
      <strong>Horas reportadas:</strong>
      <%= "0.0" %>
    </p>
  <% end %>

</div>
