 <style>
 
  .formulario {
    background-color: white;
    padding: 40px;
    max-width: 80%;
    margin: 0 auto;
    height: 600px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
    top: 90px;
  }

  </style>

<p style="color: green"><%= notice %></p>

<div class= "formulario">
  <%= render @student %>
  <p>
    <h3>Projetos:</h3>
    <% @projects_by_student.each do |project| %>
      <p>
        <h3>Nome:</h3>
        <%= project.description %>
      </p>

      <p>
        <h3>Descrição:</h3>
        <%= project.description %>
      </p>

      <p>
        <h3>Horas reportadas:</h3>
        <%= project.reports.sum(:reported_effort) %>
      </p>
    <% end %>
  </p>

  <div>
    <%= link_to "Editar", edit_student_path(@student) %> |
    <%= link_to "Voltar", students_path, class: "btn btn-danger" %>

    <%= button_to "Excluir Aluno", @student, method: :delete %>
  </div>
</div>
