<%= form_with(model: user) do |form| %>
  <% if user.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :nome, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :email, style: "display: block" %>
    <%= form.text_field :email %>
  </div>

  <div>
    <%= form.label :senha, style: "display: block" %>
    <%= form.password_field :password %>
  </div>

  <% if admin_signed_in? || current_user.try(:is_responsible) %>
    <div class="d-flex justify-content-start align-items-center ml-3 remember-login">
      <%= form.radio_button :is_responsible, 'true' %>
      <%= form.label :is_responsible, 'Responsável' %>

      <%= form.radio_button :is_responsible, 'false' %>
      <%= form.label :is_responsible, 'Aluno' %>
    </div>
  <% end %>

  <div>
    <%= form.submit "Salvar" %>
  </div>
<% end %>
