<div id="<%= dom_id user %>">
  <p>
    <strong>Nome:</strong>
    <%= user.name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= user.email %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= user.status ? "Ativo" : "Evadido" %>
  </p>

  <p>
    <strong>Organização:</strong>
    <%= user.organization.name %>
  </p>

  <% if @projects_by_student.present? %>
    <p>
      <strong>Projetos:</strong>
      <% @projects_by_student.each do |project| %>
        <p>
          <strong>Nome:</strong>
          <%= project.name %>
        </p>

        <p>
          <strong>Descrição:</strong>
          <%= project.description %>
        </p>

        <p>
          <strong>Horas reportadas:</strong>
          <%= project.reports.where(user_id: user.id).sum(:reported_effort) %>
        </p>
      <% end %>
    </p>
  <% end %>
</div>
