<div id="<%= dom_id user %>">
  <h3><%= @context %></h3>
  <p>
    <strong>Nome:</strong>
    <%= user.name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= user.email %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= user.status ? "Ativo" : "Evadido" %>
  </p>

  <p>
    <strong>Organização:</strong>
    <%= user.organization.name %>
  </p>

  <% if @projects_by_student.present? %>
    <h2>Projetos</h2>
    <table class="table table-bordered table-hover" style="table-layout: fixed; width: 100%;">
      <thead>
        <tr>
          <th style="width: 50%; padding: 10px; border: 1px solid #ccc; text-align: center;" class="color-label">Nome</th>
          <th style="width: 50%; padding: 10px; border: 1px solid #ccc; text-align: center;" class="color-label">Horas reportadas</th>
        </tr>
      </thead>
      <% @projects_by_student.each do |project| %>
        <tbody>
          <tr>
            <td><%= project.name %></td>
            <td><%= project.reports.where(user_id: user.id).sum(:reported_effort) %></td>
          </tr>
        </tbody>
      <% end %>
    </table>
  <% end %>
</div>
