<div id="<%= dom_id user %>">
  <p>
    <strong>Nome:</strong>
    <%= user.name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= user.email %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= user.status ? "Ativo" : "Evadido" %>
  </p>

  <p>
    <strong>Organização:</strong>
    <%= user.organization.name %>
  </p>

</div>
