<p style="color: green"><%= notice %></p>

<div id="students">
  <%= render partial: "shared/pages_index" %>
  <div style="padding: 20px 0">
    <%= form_tag(destroy_selected_users_path, method: :delete, id: "delete-form") do %>
      <table class="table table-bordered table-hover">
        <%= render partial: "table" %>

        <tbody>
          <% @students&.each do |student| %>
            <tr id="student-<%= student.id %>" data-student-id="<%= student.id %>">
              <td style="text-align: center">
                <%= check_box_tag 'selected_ids[]', student.id, false, class: 'student-checkbox' %>
              </td>
              <td><%= link_to student.name, student, class: "row-link" %></td>
              <td><%= student.email %></td>
              <td style="text-align: center"><%= student.status ? "Ativo" : "Evadido" %></td>
              <td style="text-align: center"><%= student.reports.sum(:reported_effort) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <div style="display: flex;">
        <div class= "form-group col-md-6", style="margin-right: auto">
          <%= link_to "Novo", new_user_path, class: "btn btn-primary" %>
          <%= button_tag "Editar", class: "btn btn-warning", id: 'edit-button', disabled: true %>
          <%= button_tag 'Excluir', class: 'btn btn-danger', id: 'delete-selected-btn', disabled: true %>
        </div>
        <div>
          <%= link_to 'Mostrar usuários inativos', inactive_students_path, class: 'btn btn-info' %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<%= javascript_include_tag 'students' %>