<p style="color: green"><%= notice %></p>

<div id="student-reports">
  <div style="display: flex; align-items: center;">
    <div style="display: inline-block;">
      <h1>Reportes de <%= @user.name %></h1>
    </div>
    <div style="display: inline-block; margin-left: 10px; padding-top: 1rem">
    </div>
  </div>
  <div style="padding: 20px 0">
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <% if (admin_signed_in? || current_user.try(:is_responsible)) %>
            <th style="width: 2vw; text-align: center" colspan="1">
              <%= check_box_tag 'select_all', false, false, id: 'select-all-checkbox' %>
            </th>
          <% end %>
          <th style="text-align: center">Horas reportadas</th>
          <th style="text-align: center">Data do reporte</th>
          <th style="text-align: center">Status</th>
          <th style="text-align: center">Projeto</th>
          <th style="text-align: center">Aluno</th>
          <th style="text-align: center">Arquivo</th>
        </tr>
      </thead>

      <tbody>
        <% @reports.each do |report| %>
          <tr id="report-<%= report.id %>" data-report-id="<%= report.id %>">
            <% if (admin_signed_in? || current_user.try(:is_responsible)) %>
              <td style="text-align: center">
                <%= check_box_tag 'selected_ids[]', report.id, false, class: 'report-checkbox' %>
              </td>
            <% end %>
            <td><%= report.reported_effort %></td>
            <td><%= report.reported_date.strftime('%d/%m/%Y') %></td>
            <% if report.status.nil? %>
              <td>Aguardando</td>
            <% else %>
              <td><%= report.status ? "Aprovado" : "Reprovado" %></td>
            <% end %>
            <td><%= report.project.name %></td>
            <td><%= report.user.name %></td>
            <% if report.file.attached? %>
              <td><a href="<%= url_for(report.file) %>"><%= report.file.filename %></a></td>
            <% else %>
              <td>Nenhum arquivo anexado</td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>


    <%= button_tag "Aprovar", class: "btn btn-success", id: 'approve-button' %>
    <%= button_tag "Reprovar", class: "btn btn-danger", id: 'reprove-button' %>
    <%= link_to "Voltar", user_path(@user), class: "btn btn-primary" %>
  </div>
</div>

<%= javascript_include_tag 'reports' %>