<p style="color: green"><%= notice %></p>

<% if @students_by_name.nil? %>
  <p>Nenhum aluno encontrado</p>
<% else %>
  <%= render partial: "shared/pages_index" %>
  <div style="padding: 20px 0" class="table-responsive primary-table">
    <table class="table table-bordered table-hover">
      <%= render partial: "table" %>

      <tbody>
        <% @students_by_name.each do |student| %>
          <tr id="student-<%= student.id %>">
            <td style="text-align: center">
              <%= check_box_tag 'selected_ids[]', student.id, false, class: 'student-checkbox' %>
            </td>
            <td><%= link_to student.name, class: "row-link" %></td>
            <td><%= student.email %></td>
            <td style="text-align: center"><%= student.status ? "Ativo" : "Evadido" %></td>
            <td style="text-align: center"><%= student.reported_hours %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= link_to "Novo", new_user_path, class: "btn btn-primary" %>
    <%= button_tag 'Excluir', class: 'btn btn-danger', id: 'delete-selected-btn', disabled: true %>
  </div>
<% end %>

<%= javascript_include_tag 'students' %>