<% if (user_signed_in? || admin_signed_in?) && (Organization.where(admin_id: current_admin.try(:id)).exists? || current_user.try(:organization).present?) %>
  <%= nav_bar fixed: :top do %>
    <span class="navbar-brand">
      <%= current_user.present? ? current_user.organization.name : Organization.where(admin_id: current_admin.id).first.name %>
    </span>
    <%= menu_group do %>
      <%= menu_item "Projetos", projects_path %>
      <%= menu_item "Alunos", users_path %>
      <% if admin_signed_in? %>
        <%= menu_item "Coordenadores", responsibles_path %>
        <%= menu_item "Cursos", courses_path %>
        <%= menu_item "Turmas", classrooms_path %>
      <% elsif !current_user.is_responsible %>
        <%= menu_item "Reportes", reports_path %>
      <% else %>
        <%= menu_item "Turmas", classrooms_path %>
      <% end %>
    <% end %>
    <%= menu_group pull: :right do %>
      <% if user_signed_in? %>
        <%= menu_item "Olá, #{current_user.name}" %>
        <%= menu_item "Sair", destroy_user_session_path, method: :delete %>
      <% elsif admin_signed_in? %>
        <%= menu_item "Admin" %>
        <%= menu_item "Sair", destroy_admin_session_path, method: :delete %>
      <% else %>
        <%= menu_item "Entrar", new_user_session_path %>
      <% end %>
    <% end %>
  <% end %>
<% end %>