<div id="<%= dom_id project %>">
  <h3><%= @context %></h3>
  <p>
    <strong>Nome:</strong>
    <%= project.name %>
  </p>

  <p>
    <strong>Competência:</strong>
    <%= project.competency %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= project.status %>
  </p>

  <p>
    <strong>Modalidade:</strong>
    <%= project.modality %>
  </p>

  <p>
    <strong>Descrição:</strong>
    <%= project.description %>
  </p>

  <p>
    <strong>Turma:</strong>
    <%= project.classroom.name %>
  </p>

  <p>
    <strong>Coordenador:</strong>
    <%= project.user.name %>
  </p>

  <p>
    <strong>Projeto ODS:</strong>
    <%= project.ods_project.name %>
  </p>

  <% if project.feedback_id.present? %>
    <p>
      <strong>Avaliação:</strong>
      <%= project.feedback_id %>
    </p>
  <% end %>

  <% if current_user.present? && !current_user.is_responsible %>
    <p>
      <strong>Horas reportadas:</strong>
      <%= project.reports.where(user_id: current_user.id).sum(:reported_effort) %>
    </p>
  <% else %>
    <p>
      <strong>Horas reportadas:</strong>
      <%= project.reports.sum(:reported_effort) %>
    </p>
  <% end %>
</div>
