<div id="<%= dom_id project %>">
  <p>
    <strong>Name:</strong>
    <%= project.name %>
  </p>

  <p>
    <strong>Competency:</strong>
    <%= project.competency %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= project.status %>
  </p>

  <p>
    <strong>Modality:</strong>
    <%= project.modality %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= project.description %>
  </p>

  <p>
    <strong>Course:</strong>
    <%= project.course_id %>
  </p>

  <p>
    <strong>Responsible:</strong>
    <%= project.user_id %>
  </p>

  <p>
    <strong>Ods project:</strong>
    <%= project.ods_project_id %>
  </p>

  <p>
    <strong>Feedback:</strong>
    <%= project.feedback_id %>
  </p>

  <p>
    <strong>Organization:</strong>
    <%= project.organization_id %>
  </p>

</div>
