<p style="color: green"><%= notice %></p>

<div id="projects">
  <%= render partial: "shared/pages_index" %>
  <% @projects.each do |project| %>
    <%= render project %>
    <p>
      <%= link_to "Show this project", project %>
    </p>
  <% end %>
</div>

<% if (admin_signed_in? || current_user.try(:is_responsible)) %>
  <%= link_to "New project", new_project_path %>
  <%= link_to "Vincular aluno", new_assignment_path %>
<% end %>
