<p style="color: green"><%= notice %></p>

<% if @projects_by_name.nil? %>
  <p>Nenhum projeto encontrado</p>
<% else %>
  <%= render partial: "shared/pages_index" %>
  <div style="padding: 20px 0" class="table-responsive primary-table">
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th style="text-align: center">Nome</th>
          <th style="text-align: center">Descrição</th>
          <th style="text-align: center">Competência</th>
          <th style="text-align: center">Status</th>
          <th style="text-align: center">Horas reportadas</th>
        </tr>
      </thead>

      <tbody>
        <% @projects_by_name.each do |project| %>
          <tr>
            <td><%= project.name %></td>
            <td><%= project.description %></td>
            <td><%= project.competency %></td>
            <td><%= project.status %></td>
            <td><%= project.reported_hours %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= link_to "Novo", new_project_path, class: "btn btn-primary" %>
    <%= button_tag 'Excluir', class: 'btn btn-danger', id: 'delete-selected-btn', disabled: true %>
  </div>
<% end %>