<div class="container-register">
  <h2>Entrar</h2>
  <div class="line"></div>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input", placeholder: "E-mail..." %>
    </div>

    <div class="field">
      <%= f.password_field :password, autocomplete: "current-password", class: "input", placeholder: "Senha..." %>
    </div>

    <div class="actions">
      <%= f.submit "Entrar", class: "buttonRegister" %>
      <%= render "devise/shared/links" %>
    </div>
  <% end %>

</div>