<div id="<%= dom_id feedback %>">
  <p>
    <strong>Question 1:</strong>
    <%= feedback.question_1 %>
  </p>

  <p>
    <strong>Question 2:</strong>
    <%= feedback.question_2 %>
  </p>

  <p>
    <strong>Question 3:</strong>
    <%= feedback.question_3 %>
  </p>

  <p>
    <strong>Question 4:</strong>
    <%= feedback.question_4 %>
  </p>

  <p>
    <strong>Question 5:</strong>
    <%= feedback.question_5 %>
  </p>

  <p>
    <strong>Observation:</strong>
    <%= feedback.observation %>
  </p>

</div>
