<div id="<%= dom_id archive %>">
  <p>
    <strong>Title:</strong>
    <%= archive.title %>
  </p>

  <p>
    <strong>Path:</strong>
    <%= archive.path %>
  </p>

  <p>
    <strong>Original name:</strong>
    <%= archive.original_name %>
  </p>

  <p>
    <strong>Type:</strong>
    <%= archive.type %>
  </p>

  <p>
    <strong>Size:</strong>
    <%= archive.size %>
  </p>

  <p>
    <strong>Report:</strong>
    <%= archive.report_id %>
  </p>

</div>
