<div id="<%= dom_id report %>">
  <p>
    <strong>Horas reportadas:</strong>
    <%= report.reported_effort %>
  </p>

  <p>
    <strong>Data do reporte:</strong>
    <%= report.reported_date %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= report.status %>
  </p>

  <p>
    <strong>Projeto:</strong>
    <%= report.project.name %>
  </p>

  <p>
    <strong>Aluno:</strong>
    <%= report.user.name %>
  </p>

  <p>
    <strong>Arquivos:</strong>
    <% if report.file.attached? %>
      <a href="<%= url_for(report.file) %>"><%= report.file.filename %></a>
    <% else %>
      Nenhum arquivo anexado
    <% end %>
  </p>
</div>
