<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<div id="<%= dom_id report %>">
  <h3><%= @context %></h3>
  <p>
    <strong>Horas reportadas:</strong>
    <%= report.reported_effort %>
  </p>

  <p>
    <strong>Data do reporte:</strong>
    <%= report.reported_date %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= report.status %>
  </p>

  <p>
    <strong>Projeto:</strong>
    <%= report.project.name %>
  </p>

  <p>
    <strong>Aluno:</strong>
    <%= report.user.name %>
  </p>

  <p>
    <strong>Arquivos:</strong>
    <% if report.file.attached? %>
      <a href="<%= url_for(report.file) %>" download><%= report.file.filename %></a>
    <% else %>
      Nenhum arquivo anexado
    <% end %>
  </p>
</div>
