<div id="<%= dom_id report %>">
  <p>
    <strong>Reported effort:</strong>
    <%= report.reported_effort %>
  </p>

  <p>
    <strong>Reported date:</strong>
    <%= report.reported_date %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= report.status %>
  </p>

  <p>
    <strong>Project:</strong>
    <%= report.project_id %>
  </p>

  <p>
    <strong>Student:</strong>
    <%= report.student_id %>
  </p>

</div>
